<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icons</key>
	<dict>
		<key>app</key>
		<string>file_app.png</string>
		<key>bmp</key>
		<string>file_bmp.png</string>
		<key>bundle</key>
		<string>file_bundle.png</string>
		<key>c</key>
		<string>file_c.png</string>
		<key>cpp</key>
		<string>file_cpp.png</string>
		<key>db</key>
		<string>file_sql.png</string>
		<key>deb</key>
		<string>file_deb.png</string>
		<key>dmg</key>
		<string>file_dmg.png</string>
		<key>doc</key>
		<string>file_doc.png</string>
		<key>docx</key>
		<string>file_doc.png</string>
		<key>flv</key>
		<string>file_flv.png</string>
		<key>framework</key>
		<string>file_framework.png</string>
		<key>gif</key>
		<string>file_gif.png</string>
		<key>h</key>
		<string>file_h.png</string>
		<key>htm</key>
		<string>file_html.png</string>
		<key>html</key>
		<string>file_html.png</string>
		<key>ico</key>
		<string>file_ico.png</string>
		<key>jar</key>
		<string>file_jar.png</string>
		<key>java</key>
		<string>file_java.png</string>
		<key>jpg</key>
		<string>file_jpeg.png</string>
		<key>jpeg</key>
		<string>file_jpeg.png</string>
		<key>kext</key>
		<string>file_bundle.png</string>
		<key>m</key>
		<string>file_m.png</string>
		<key>mm</key>
		<string>file_m.png</string>
		<key>mp3</key>
		<string>file_mp3.png</string>
		<key>ogg</key>
		<string>file_ogg.png</string>
		<key>pdf</key>
		<string>file_pdf.png</string>
		<key>pkg</key>
		<string>file_pkg.png</string>
		<key>png</key>
		<string>file_png.png</string>
		<key>rpm</key>
		<string>file_rpm.png</string>
		<key>rtf</key>
		<string>file_rtf.png</string>
		<key>sdk</key>
		<string>file_pkg.png</string>
		<key>sqlite</key>
		<string>file_sql.png</string>
		<key>sqlite3</key>
		<string>file_sql.png</string>
		<key>sqlitedb</key>
		<string>file_sql.png</string>
		<key>tga</key>
		<string>file_tga.png</string>
		<key>tiff</key>
		<string>file_tiff.png</string>
		<key>txt</key>
		<string>file_txt.png</string>
		<key>wav</key>
		<string>file_wav.png</string>
		<key>widget</key>
		<string>file_widget.png</string>
		<key>wma</key>
		<string>file_wma.png</string>
		<key>xcodeproj</key>
		<string>file_xcodeproj.png</string>
		<key>xls</key>
		<string>file_xls.png</string>
		<key>xlsx</key>
		<string>file_xls.png</string>
	</dict>
	<key>file</key>
	<string>file.png</string>
	<key>folder</key>
	<string>folder.png</string>
	<key>packages</key>
	<array>
		<string>app</string>
		<string>bundle</string>
		<string>framework</string>
		<string>kext</string>
		<string>pkg</string>
		<string>sdk</string>
		<string>widget</string>
		<string>xcodeproj</string>
	</array>
</dict>
</plist>
