<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>___PROJECT_NAME___</string>
    <key>author</key>
    <string>___AUTHOR_NAME___</string>
    <key>bundleIdentifier</key>
    <string>com.yourcompany.___PROJECTNAMEASIDENTIFIER___</string>
    <key>executable</key>
    <string>___EXECUTABLE_NAME___</string>
    <key>product</key>
    <string>___PRODUCT_NAME___</string>
    <key>projectType</key>
    <string>Application</string>
    <key>frameworks</key>
    <array>
        <string>UIKit</string>
        <string>Foundation</string>
        <string>CoreGraphics</string>
    </array>
    <key>sourceFiles</key>
    <array>
        <dict>
            <key>name</key>
            <string>___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
            <key>folder</key>
            <false/>
        </dict>
        <dict>
            <key>name</key>
            <string>___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
            <key>folder</key>
            <false/>
        </dict>
        <dict>
            <key>name</key>
            <string>main.m</string>
            <key>folder</key>
            <false/>
        </dict>
        <dict>
            <key>name</key>
            <string>RootViewController.h</string>
            <key>folder</key>
            <false/>
        </dict>
        <dict>
            <key>name</key>
            <string>RootViewController.m</string>
            <key>folder</key>
            <false/>
        </dict>
    </array>
    <key>resources</key>
    <array>
        <dict>
            <key>name</key>
            <string>Info.plist</string>
            <key>folder</key>
            <false/>
        </dict>
    </array>
    <key>external</key>
    <dict>
        <key>include</key>
        <array>
        </array>
        <key>lib</key>
        <array>
        </array>
    </dict>
</dict>
</plist>
